<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>I am a web developer. I mainly code with JavaScript.</p>
    <p>I have more than two years experience as a web developer.</p>
    <p>I enjoy working on : </p>
    <ul class="about-me">
      <li>React Applications, MERN stack applications generally</li>
      <li>I use Vanilla CSS, Bootstrap, Tailwind, SASS, Styled Components and Material UI for my stylings</li>
      <li>I also enjoy designing Power Apps, Power BI Dashboards and Reports</li>
      <li>I also do software testing using webdriverIO framework and tools like mocha, jest etc.</li>
      <li>I have experience also in IOS and Android Testing</li>
      <li>Recently I started learning about Azure Web Services: Azure Apps and Blob Storage Services in collaboration with the Microsoft Power Platform</li>
      <li>You can follow mw on this platforms to see what I am currently working on.</li>
    </ul>

    <ul class="social">
      <li><a href="https://twitter.com/Blaise67">Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/ikenna-akupuome/">LinkedIn</a></li>
      <li><a href="https://github.com/Akupsmee">Github</a></li>
      <li><a href="https://ikenna.netlify.app">Mini website</a></li>
    </ul>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>